@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .gjs-pn-panel{
    padding: 3px;
    position: relative;
  }
  .gjs-one-bg{
    @apply bg-slate-900
  }
  .fill-white-container {
    color: white; /* Define el color para el contenedor */
  }
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }

  .editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .editor-canvas {
    flex-grow: 1;
  }

  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  } 

  .panel__basic-actions {
    display: flex;
    justify-content: space-between;
  } 

  .gjs-cv-canvas-bg{
    width: -webkit-fill-available;
  }
  .panel__devices{
    @apply flex justify-center
  }
  #gjs{
    height: -webkit-fill-available !important;
  }
   #blocks{
    @apply bg-slate-900
   }
  .gjs-selected{
    @apply outline outline-offset-2 outline-1 outline-blue-500 rounded-md
  }
  .gjs-hovered{
    @apply outline outline-offset-2 outline-1 outline-blue-500 rounded-md
  }
  .gjs-toolbar{
    @apply rounded-md 
  }
  .gjs-badge{
    @apply rounded-md absolute top-5
  }