@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .gjs-pn-panel{
    padding: 3px;
    position: relative;
  }
  .gjs-one-bg{
    @apply bg-foreground
  }
  .fill-white-container {
    color: white; /* Define el color para el contenedor */
  }
  .gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
  }

  .editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .editor-canvas {
    flex-grow: 1;
  }

  .panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
  } 

  .panel__basic-actions {
    display: flex;
    justify-content: space-between;
  } 

  .gjs-cv-canvas-bg{
    width: -webkit-fill-available;
  }
  .panel__devices{
    @apply flex justify-center
  }
  #gjs{
    height: 100vh !important;
  }
   #blocks{
    @apply bg-background
   }
  .gjs-selected{
    @apply outline  outline-1 outline-blue-500 rounded-md
  }
  .gjs-hovered{
    @apply outline   outline-1 outline-blue-500 rounded-md
  }
  .gjs-toolbar{
    @apply rounded-md 
  }
  .gjs-badge{
    @apply rounded-md absolute top-5
  }
  .invert {
    filter: invert(1);
  }
  .dark .invert {
    filter: invert(0);
  }
  .gjs-title{
    @apply dark:text-black !font-bold
  }